nav{
    font-size: 20px;
    width: 30%;
    font-family: 'Russo One', sans-serif;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
    border-bottom: 2px #f1f1f1 solid;
    text-transform: uppercase;
}
nav span{
    font-size: 0.8em;
}

img{
    width: 25%;
    margin: calc(25%/6);
    border-radius: 1rem;
}